<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="moe.nijigen.studentscore.Pojo.Mapper.ExamMapper">
    <resultMap id="exam_nameLog" type="Exam">
        <id property="UUID" column="uuid"/>
        <result property="exam_name" column="exam_name"/>
        <result property="code" column="code"/>
    </resultMap>
    <parameterMap id="examParamater" type="Exam">
        <parameter property="UUID" resultMap="exam_nameLog" />
        <parameter property="exam_name" resultMap="exam_nameLog"/>
        <parameter property="code" resultMap="code" />
    </parameterMap>
    <select id="queryAllExam" resultType="Exam" resultMap="exam_nameLog">
        select * from examname
    </select>

    <delete id="deleteExam">
        delete from examname where UUID=#{UUID}
    </delete>

    <update id="updateExam" parameterMap="examParamater">
        update examname set UUID=#{exam.UUID},exam_name=#{exam.exam_name},code=#{exam.code} where UUID=#{UUID}
    </update>

    <insert id="insertExam" parameterMap="examParamater">
        insert into examname(UUID,exam_name,code) values (#{UUID},#{exam_name},#{code})
    </insert>
    <select id="queryExamByCode" resultMap="exam_nameLog" resultType="Exam">
        select * from examname where code=#{code}
    </select>
</mapper>