<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<script type="text/javascript" src="/js/chart.min.js"></script>
<script type="module" src="/js/plugin.filler.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div th:replace="~{index::pageHeader}">
</div>
    <a href="/score/query/allscore">
    <div class="container-fluid" th:fragment="pageTable">
        <div class="container mt-3">
            <h2>选项卡切换</h2>
            <br>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" th:fragment="pageTable">
                <li class="nav-item">
                    <a class="nav-link text" th:classappend="${canvasType=='query'?'actvie show':''}" data-bs-toggle="tab" href="#queryScore">成绩查询</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" th:classappend="${canvasType=='line'?'actvie show':''}" data-bs-toggle="tab" href="#lineChart">线形图</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:classappend="${canvasType=='bar'?'actvie':''}" data-bs-toggle="tab" href="#barChart">柱状图</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" th:classappend="${canvasType=='radar'?'actvie':''}" href="#radarChart">雷达图</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" th:classappend="${canvasType=='doughnut'?'actvie':''}" href="#doughutChart">环形图</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" th:classappend="${canvasType=='pie'?'actvie':''}" href="#pieChart">饼状图</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" th:classappend="${canvasType=='polar'?'actvie':''}" href="#polarChart">极地图</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" th:classappend="${canvasType=='bubble'?'actvie':''}" href="#bubbleChart">泡泡图</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" th:classappend="${canvasType=='scatter'?'actvie':''}" href="#scatterChart">散点图</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#other">其它功能</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div id="queryScore" class="container tab-pane" th:classappend="${canvasType=='query'?'actvie show':''}"><br>
                    <p>查询学生</p>
                </div>
                <div id="lineChart" class="container tab-pane" th:classappend="${canvasType=='line'?'actvie show':''}"><br>
                    <h3>线性图</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <canvas id="lineChartCanvas" ></canvas>
                </div>
                <div id="barChart" class="container tab-pane" th:classappend="${canvasType=='bar'?'actvie show':''}"><br>
                    <h3>柱状图</h3>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <canvas id="BarChartCanvas" ></canvas>
                </div>
                <div id="radarChart" class="container tab-pane" th:classappend="${canvasType=='radar'?'actvie show':''}"><br>
                    <h3>雷达图</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="doughutChart" class="container tab-pane" th:classappend="${canvasType=='doughnut'?'actvie show':''}"><br>
                    <h3>环形图</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="pieChart" class="container tab-pane" th:classappend="${canvasType=='pie'?'actvie show':''}"><br>
                    <h3>饼状图</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="polarChart" class="container tab-pane" th:classappend="${canvasType=='polar'?'actvie show':''}"><br>
                    <h3>极地图</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="bubbleChart" class="container tab-pane" th:classappend="${canvasType=='bubble'?'actvie show':''}"><br>
                    <h3>泡泡图</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
                <div id="scatterChart" class="container tab-pane" th:classappend="${canvasType=='scatter'?'actvie show':''}"><br>
                    <h3>散点图</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>

                <div id="other" class="container tab-pane"><br>
                    <h3>其他</h3>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
                </div>
            </div>
        </div>
    </div>

<div >

<script th:inline="javascript">
/*<![CDATA[*/

const ctxbar = document.getElementById('BarChartCanvas');
const myChartbar = new Chart(ctxbar, {
    type: 'bar',
    data: [[${barResult}]],
    options: {
        scales: {
            y: {
                beginAtZero: true //从零开始的柱状统计图
            }
        },
		responsive:true//设置是否自适应缩放
    }
});
/*
var data = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
            {
            label: "My First dataset",
            backgroundColor: "rgba(255, 0, 0,0.9)",//背景色
            borderColor:"rgba(150, 50, 255,0.9)"  ,//线条色
            borderWidth:3,
            fillColor: "rgba(0, 0, 255,0.9)",
            strokeColor: "rgba(0, 0, 255,0.9)",
            pointColor: "rgba(0, 0, 255,0.9)",
            pointStrokeColor: "rgba(0, 0, 255,0.9)",
            pointHighlightFill: "rgba(0, 0, 0,0.2)",//选中点后 弹窗背景色
            pointHighlightStroke: "rgba(0, 0, 255,0.9)",
            data: [65, 59, 80, 81, 56, 55, 40]
            },
            {
            label: "My Second dataset",
            fillColor: "rgba(0, 255, 0,0.9)",
            strokeColor: "rgba(0, 255, 0,0.9)",
            pointColor: "rgba(0, 255, 0,0.9)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(0, 255, 0,0.9)",
            data: [28, 48, 40, 19, 86, 27, 90]
            }
            ]
            };
*/
const config = {
  type: 'line',
  data: [[${lineResult}]],
  options: {

		datasetFill : true,
		bezierCurve : true,
		tension: 0.5,
		hoverBackgroundColor:'rgba(255, 255, 255,1)',
		animationEasing: "easeOutQuart",
        scales: {
          y: {
              beginAtZero: true //从零开始的柱状统计图
          }
        },
      responsive:true,//设置是否自适应缩放
		/*目前不知道有什么用
		hoverBorderWidth: 5,///
		hoverBorderJoinStyle:'bevel',//
		borderDashOffset:10,//
		hoverBorderDash:5,//
		hoverBorderCapStyle: 'round',//*/
		fill: {
                target: 'origin',
                /*above: 'rgba(255, 0, 0,0.2)',   // Area will be red above the origin
                below: 'rgba(0, 0, 255,0.9)'*/    // And blue below the origin
              },
			  propagate:true,
			  drawTime: 'beforeDraw'
  }
};




const myChartline = new Chart(
    document.getElementById('lineChartCanvas'),
    config
  );
  console.log("输出图表");

/*]]>*/
</script>

<script>

 
</script>
</body>

</html>

